* {
  font-family: Arial, Helvetica,sans-serif;
  font-variant: small-caps;
  font-style: italic;
  color: purple;
}
h1 {
  color: #FB60FF;
background-color: yellow;
border-top-color: red;
border-bottom-color: purple;
border-width: 30px 5px 30px 5px;
border-style: solid;
margin-left: 100px;
margin-right: 100px;
}

body {
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  text-align: center;
}

.final {
  font-style: oblique;
  color: blue;
  line-height: 200%;
  letter-spacing: 50px;
}
a {
font-size: 30px;
background-color: yellow;
text-decoration-line: overline;
text-decoration-color: red;
text-decoration-style: dotted;
height: 100px;
width: 100px;
display: inline-block; <--//para desbloquear el inline y poder asignarle altura y anchura-->
border: 10px solid; //estilo del borde

}
a:link { //darle formato a los enlaces no visitados
  color: green;
}
a:visited { //darle formato a los enlaces visitados
  color:pink;
}
a:hover { //darle formato al link al pasar el puntero por encima del enlace
  color:red;
}
a:active { //darle formato al link al clicar
  color:black;
}

ul {
  color:red;
  font-size: 30px;
  list-style-type: lower-latin; //cambiar estilo de la ordenacion
}
ol {
color:red;
font-size: 30px;
list-style-type: lower-latin;
list-style-position: outside;
list-style-image: url("../img/fondo.jpg"); //utilizar una imagen como elemento enlistador
}
